<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9617ede7-7391-48f9-94a1-e93d9410b065/resourceGroups/AlstromsStatusProject/providers/Microsoft.Web/sites/AlstromsStatusProject-Azure</ResourceId>
    <ResourceGroup>AlstromsStatusProject</ResourceGroup>
    <ApiResourceId>/subscriptions/9617ede7-7391-48f9-94a1-e93d9410b065/resourceGroups/AlstromsStatusProject/providers/Microsoft.ApiManagement/service/AlstromsStatusProject-Backendapi/apis/AlstromsStatusProject-Backend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://alstromsstatusproject-azure.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2dc9b055-803c-4250-b289-73c0081fe279</ProjectGuid>
    <MSDeployServiceURL>alstromsstatusproject-azure.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AlstromsStatusProject-Azure</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$AlstromsStatusProject-Azure</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>